.check_list input[type=checkbox] { display: none!important;}
.check_list label{
  display: inline-block;
  width: 50px; height:50px;
  border: 4px solid #333;
  border-radius: 6px;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.check_list label.checked{
  width: 50px; height: 50px;
  background-image: url('./checked.png');
}